*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;  
    background-color: #f8f9fa; 
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.w-100 {
    width: 90%!important;
    height: 400px;
    margin: 0 auto;
}

.container-fluid img{
    
        width: 7%;
       object-fit: cover;
    
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important;
    border-bottom: 1px solid #cec6c7;
}

.nav-link {
    
    font-size: 1rem;
    font-weight: 500;
   
}

.btn {
    width: 100%;
}

.card{
    width: 18rem;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.btn-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: #0d6efd;
    text-align: center;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #1d1b1b;
}
.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #5e553b;
    padding: 1rem;
    background-color: #dee2e6;
    width: 90%;
    margin: 20px auto;
}
.nav-link {
    
    color: #3a2f30;
    
}
.card-img, .card-img-top {
   
    height: 178px;
    object-fit: cover;
}
.navbar-nav{
    --bs-nav-link-hover-color: #922b12;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        height: 70px;
    }
}
